In [1]:
import pandas as pd

df=pd.read_csv(r'C:\Users\kkp26\Olympic-Data\Better_Olympic_data.csv')
df

                   Country  Gold  Silver  Bronze  Total  Year
0            United States    11       7       2     20  1896
1                   Greece    10      17      19     46  1896
2                  Germany     6       5       2     13  1896
3                   France     5       4       2     11  1896
4            Great Britain     2       3       2      7  1896
...                    ...   ...     ...     ...    ...   ...
1242               Morocco     0       0       1      1  2016
1243               Nigeria     0       0       1      1  2016
1244              Portugal     0       0       1      1  2016
1245   Trinidad and Tobago     0       0       1      1  2016
1246  United Arab Emirates     0       0       1      1  2016

[1247 rows x 6 columns]

In [6]:
def com(A,B):
    if(A=='Korea, Dem. People’s Rep.' and B=='North Korea'):
        return True
    if(A=='Korea, Rep.' and B=='South Korea'):
        return True
    A=A.lower()
    B=B.lower()
    if(A.find(B)!=-1):
        return True
    if(B=='great britain' and A=='united kingdom'):
        return True
    return False

df1=pd.read_csv(r'C:\Users\kkp26\Olympic-Data\Data_Extract_From_World_Development_Indicators\ad7cfe3f-5d06-4536-838d-077c509c3bba_Data.csv')
df2=pd.read_csv(r'C:\Users\kkp26\Olympic-Data\Human Development Index (HDI).csv')
df3=pd.read_csv(r'C:\Users\kkp26\Olympic-Data\Participation_Country_Year.csv')
df4=pd.read_csv(r'C:\Users\kkp26\Olympic-Data\Data_Extract_From_World_Development_Indicators-1\0b3e27eb-1c6f-428a-8309-02a23a56b6e2_Data.csv')
n1=df1.shape[0]
n2=df2.shape[0]
n3=df3.shape[0]
final_data=[]
for i in range(len(df['Country'])):
    GDP=-1
    HDI=-1
    GDP_c=-1
    country=df['Country'][i]
    year=df['Year'][i]
    participation=0
    for j in range(n1):
        if(year<1960):
            break
        yc=str(year)+' [YR'+str(year)+']'
        if(com(df1['Country Name'][j],country) and df1[yc][j]!='..'):
            GDP=df1[yc][j]
            break
    for j in range(len(df4)):
        if(year<1960):
            break
        yc=str(year)+' [YR'+str(year)+']'
        if(com(df4['Country Name'][j],country) and df4[yc][j]!='..'):
            GDP_c=df4[yc][j]
            break
    for j in range(n2):
        if(year<1990):
            break
        if(com(df2['Country'][j],country) and df2[str(year)][j]!='..'):
            HDI=df2[str(year)][j]
            break
    for j in range(n3):
        if(df3['Country'][j]==country and df3['Year'][j]==year):
            participation=df3['Participants'][j]
            break
    final_data.append([country,year,GDP,GDP_c,HDI,participation,df['Gold'][i],df['Silver'][i],df['Bronze'][i],df['Total'][i]])

In [7]:
final_df=pd.DataFrame(final_data, columns = ['Country', 'Year', 'GDP', 'GDP_c', 'HDI', 'Participation', 'Gold', 'Silver', 'Bronze', 'Total'])
final_df.to_csv('Olympic_data_tr1.csv',index=False)